/* CONTAINERS */
.page {
  min-width: 1200px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #000;
  background: #fff;
}

.container {
  margin: 0 auto;
  width: 800px;
}

.container_shaped {
  width: 1200px;
}

/* LOGO */
.logo__pic {
  width: 140px;
  height: 76px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.8;
}

/* MENU */
.menu {
  display: flex;
  justify-content: space-between;
}

.menu__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 600px;
  height: 59px;
  margin: auto 0;
  padding: 0;
  list-style: none;
  border: 0 solid rgba(255, 255, 255, 0.2);
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.menu__link:hover {
  color: #ffcb78;
}

.menu__link:active {
  color: #7a5f35;
}

/* BUTTON */
.button {
  text-decoration: none;
  color: #834700;
  border: 3px solid #834700;
  padding: 15px 20px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  min-width: 110px;
}

.button:hover {
  color: #6a3900;
  border: 3px solid #6a3900;
}

.button:active {
  color: #d2c3b2;
  border: 3px solid #d2c3b2;
}

.button_cards_buy {
  color: #fff;
  background: #834700;
  border: 3px solid #834700;
}

.button_cards_buy:hover {
  color: #fff;
  background: #6a3900;
  border: 3px solid #6a3900;
}

.button_cards_buy:active {
  color: #92755e; /* #a08874 */
  background: #6a3900;
  border: 3px solid #6a3900;
}

/* HEADER */
.header {
  height: 550px;
  box-sizing: border-box;
  padding: 60px 0;
  color: #fff;
  background: url(./img/wheat-back.jpg) no-repeat bottom;
  background-size: cover;
}

.header-title {
  margin: 120px auto 0;
  max-width: 730px;
  font-size: 70px;
  line-height: 1;
  text-align: center;
}

/* TITLE */
.section-title {
  margin: 0 0 60px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 40px;
}

/* SECTION NEW */
.new {
  padding: 80px 0 115px;
}

.cards {
  border-right: 1px solid #e5e5e5;
}

.cards__list {
  margin: 75px 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards__item {
  border-left: 1px solid #e5e5e5;
  padding: 0 33px;
  position: relative;
}

.cards__title {
  margin: 0 0 30px;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 40px;
}

.cards__pic {
  margin: 0 0 0 10px;
}

.cards__info {
  position: absolute;
  top: 85px;
  right: 0;
  padding: 0 25px;
}

.cards__table {
  border-collapse: collapse;
  border: 1px solid #e5e5e5;
}

.cards__table-ingridients {
  caption-side: bottom;
  text-align: left;
  max-width: 150px;
  margin-top: 11px;
  font-size: 14px;
  line-height: 1.714;
  color: #444;
}

.cards__table-heading {
  box-sizing: border-box;
  font-size: 16px;
  min-width: 77px;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}

.cards__table-data {
  box-sizing: border-box;
  min-width: 72px;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}

.cards__text {
  line-height: 1.714;
  color: #444;
  margin: 10px 0 60px;
}

.cards__price {
  position: absolute;
  bottom: 0;
  right: 35px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}

/* HIGHLIGHTS */
.highlights {
  margin: 0 auto;
  background: #ffcb78;
  padding: 40px 0;
}

.highlights__items {
  margin: 0 auto;
  padding: 45px 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.highlights__item {
  margin: 0 auto;
  padding: 0 90px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 214px;
  border-right: 1px solid #e5b66c;
}

.highlights__item:last-of-type {
  border: none;
}

.highlights__item-title {
  margin: 25px 0;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: bold;
}

.highlights__item-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.9;
  color: #444;
}

.highlights__item_pic_brew::before {
  content: url(./img/icon-brew.png);
}

.highlights__item_pic_matreshka::before {
  content: url(./img/icon-matreshka.png);
}

.highlights__item_pic_thumbsup::before {
  content: url(./img/icon-thumbsup.png);
}

/* HISTORY */
.history {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 80px 0;
}
.history__list {
  margin: 0;
  padding: 0;
  width: 800px;
  list-style: none;
  display: grid;
  grid-row-gap: 60px;
  grid-template-rows: 1fr 1fr;
}

.history__item {
  display: flex;
}

.history__item-block {
  margin: 0;
}

.history__item-title {
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: bold;
}
.history__item-text {
  margin: 0;
  width: 80%;
  font-size: 16px;
  line-height: 1.875;
  font-weight: normal;
  color: #444;
}

.history__item-pic {
  margin: 40px 0 0;
}

.history__item-pic-caption {
  font-style: italic;
}

.history__item-pic-caption-link {
  color: #834700;
  text-decoration: none;
}

.history__item-pic-caption-link:hover {
  color: #6a3900;
}

.history__item-pic-caption-link:active {
  color: #cab7a2;
}

/* PRESS */
.press {
  margin: 0 auto;
  background: #ede5d8;
  padding: 80px 0 90px;
}

.press__quote {
  position: relative;
  margin: 70px 0 0;
  padding: 0;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.press__quote::before {
  content: url(./img/quotes.png);
  position: absolute;
  top: 5px;
  left: -105px;
}

.press__quote-text {
  margin: 0 0 35px;
  width: 86%;
  font-size: 16px;
  line-height: 1.875;
  font-weight: normal;
  color: #444;
}

.press__quote-author {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  font-style: normal;
  order: 1;
}

.press__quote-btn {
  color: #bcb6ab;
  border: 3px solid #a6a097;
}

.press__quote-btn:hover {
  background: #a6a097;
  border: 3px solid #a6a097;
  color: #fff;
}

.press__quote-btn:active {
  background: #8f8a81;
  color: #b5b2ad;
  border: 3px solid #8f8a81;
}

/* RANGE */
.range {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 90px 0;
}

.range-table {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  font-weight: normal;
  text-transform: uppercase;
  box-sizing: border-box;
}
.range-table__row {
  display: grid;
  border-bottom: 1px solid #e5e5e5;
  grid-template-columns: 50% 11.8% 7.7% 1fr 20%;
}
.range-table__head {
  font-size: 11px;
  color: #999;
  line-height: 2.5;
  height: 75px;
  padding: 15px 0;
  box-sizing: border-box;
}

.range-table__data {
  font-size: 16px;
  line-height: 1.875;
  color: #444;
  padding: 15px 0 0;
  height: 65px;
  box-sizing: border-box;
}

.range-table__data_name {
  font-weight: bold;
  color: #000;
}

.range-table__data_align_right,
.range-table__head_align_right {
  text-align: right;
}

.range-table__new {
  padding: 2px 5px;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  width: 50px;
  height: 13px;
  margin-left: 18px;
  font-size: 8px;
  line-height: 1;
  box-sizing: border-box;
}

/* FORM */
.form {
  margin: 0 auto;
  background: #ffcb78;
  padding: 80px 0 130px;
}

.form__text {
  margin: 70px 0;
  color: #444;
  width: 80%;
  font-size: 16px;
  line-height: 1.875;
}
.form__form-zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 78.5%;
}

.form__label {
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
}

.input {
  display: block;
  width: 100%;
  min-height: 50px;
  padding: 12px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  box-sizing: border-box;
  margin: 5px 0 0;
}

.input:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.input:focus {
  background-color: #fff;
  border: #fff;
  outline: #fff;
}

.form__wrapper {
  width: 100%;
  margin: 0 0 35px;
}

.form__wrapper_shrink {
  width: 45%;
  margin: 0 0 30px;
}

.form__button {
  color: #fff;
  background: #834700;
  border: 3px solid #834700;
}
.form__button:hover {
  color: #fff;
  background: #6a3900;
  border: 3px solid #6a3900;
}

.form__button:active {
  color: #92755e; /* #a08874 */
  background: #6a3900;
  border: 3px solid #6a3900;
}

/* FOOTER */
.footer {
  margin: 0 auto;
  padding: 60px 0 70px;
  color: #fff;
  background-color: #000;
}

.footer-row {
  width: 1015px;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__links_place_footer {
  margin: 0 auto;
}

.logo_place_footer {
  margin: 0 0 0 25px;
}

.footer__links {
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 0;
}

.footer__link-button {
  text-decoration: none;
  color: #989898;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 66px;
  background: #1b1b1b;
  border: 1px solid rgba(255, 203, 120, 0.1);
}

.footer__link-button_item_insta {
  background: #1b1b1b url(./img/icon-insta.png) no-repeat center;
}

.footer__link-button_item_insta:hover {
  background: #1b1b1b url(./img/icon-insta.png) no-repeat center;
  border: 1px solid #605037;
}

.footer__link-button_item_insta:active {
  background: #0e0e0e url(./img/icon-insta.png) no-repeat center;
  border: 1px solid #2d281f;
}

.footer__link-button_item_fb {
  background: #1b1b1b url(./img/icon-fb.png) no-repeat center;
}
.footer__link-button_item_fb:hover {
  background: #1b1b1b url(./img/icon-fb.png) no-repeat center;
  border: 1px solid #605037;
}

.footer__link-button_item_fb:active {
  background: #0e0e0e url(./img/icon-fb.png) no-repeat center;
  border: 1px solid #2d281f;
  background: #1b1b1b;
}

.footer__link-button_item_vk {
  background: #1b1b1b url(./img/icon-vk.png) no-repeat center;
}

.footer__link-button_item_vk:hover {
  background: #1b1b1b url(./img/icon-vk.png) no-repeat center;
  border: 1px solid #605037;
}

.footer__link-button_item_vk:active {
  background: #0e0e0e url(./img/icon-vk.png) no-repeat center;
  border: 1px solid #2d281f;
  background: #1b1b1b;
}

.footer__link-button_item_dev {
  margin: 0 10px 0 100px;
}

.footer__link-button_item_dev:hover {
  border: 1px solid #605037;
  background: #1b1b1b;
}

.footer__link-button_item_dev:active {
  border: 1px solid #2d281f;
  background: #0e0e0e;
}

.footer__text {
  margin: 0 auto;
  width: 200px;
  font-size: 14px;
  line-height: 1.429;
  color: #989898;
}

.footer__text-link {
  text-decoration: none;
  color: #989898;
}

.footer__text-link:hover {
  color: #989898;
  opacity: 0.5;
}

.footer__text-link:active {
  color: #989898;
  opacity: 0.5;
}

.footer__dev-logo {
  width: 27px;
  height: 34px;
  margin: 0 auto;
}

.span-accent {
  font-weight: bold;
}
