.button_cards_buy {
  color: #fff;
  background: #834700;
  border: 3px solid #834700;
}

.button_cards_buy:hover {
  color: #fff;
  background: #6a3900;
  border: 3px solid #6a3900;
}

.button_cards_buy:active {
  color: #92755e; /* #a08874 */
  background: #6a3900;
  border: 3px solid #6a3900;
}
